{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
  <img src="/static/img/self.jpg" alt="Qra" width="180" class="center">
    <h1 class="center">About Qra</h1>
    <p>My name is Iqra Farhan and people call me Qra (ki-ra) for short.</p>
    <p>I am a computer science student in University of Indonesia, currently in my second year. </p>
    <p>My NPM is 1906353763 and I am part of Maung</p>
    <br>
    <p>3 things to know about me? I enjoy how my life goes, I hate to code, I'm sure I'll love it someday.</p>
    <p>My hobby is meditating.</p>
    <table style="width:100%" class="center">
    <br>
    <h2 style="text-align:center;">Riwayat Pendidikan</h2>
    </h2>
        <tr>
          <th>Pendidikan</th>
          <th>Tahun</th>
        </tr>
        <tr>
          <td>SMAN 8 Jakarta</td>
          <td>2016 - 2019</td>
        </tr>
        <tr>
          <td>Universitas Indonesia</td>
          <td>2019 - Selesai (semoga lulus)</td>
        </tr>
      </table>
      <br>
    <a href="https://www.instagram.com/albertinethechicken">
        <img src="/static/img/87390.png" alt="Instagram" width="30" height="30" class="center">
     </a>
{% endblock %}

